body{
    background-color: black;
     font-family: "Press Start 2P", cursive;
 
  color: ghostwhite;
}

.wrapper{

	margin-top: 100px;
	margin-left: 100px;
}

h1{
	font-size: 100px;
	margin: 0 auto;
	
}
.title{
	animation-name: mymove;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	font-size: 110px;


}

p{
	width: 50%;
	margin-left: 200px;
	margin-top: 25px;

}
@keyframes mymove {
    0% {color: red;}
    50% {color: green;}
    100% {color: yellow;}
}