body{
    background-color: black;
     font-family: "Press Start 2P", cursive;
 margin: 0;
  color: ghostwhite;
}

.wrapper{

	height: 100vh;
	margin: 0 auto;

	
}


h1{
	font-size: 100px;
	text-align: center;
	`
}
.title{
	animation-name: mymove;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	font-size: 110px;
	width: 100%;
/*	width: 100%;*/



}

p{
	
	margin: auto;
    width: 70%;
	color: white;
	line-height: 30px;


}
 a{
	/*margin-left: 200px;*/
    display: block;
    margin: auto;
    width: 40%;
	color: white;

	font-size: 28px;
	font-family: "Press Start 2P";
	text-decoration: none;
	


}

@keyframes mymove {
    0% {color: red;}
    50% {color: green;}
    100% {color: yellow;}
}