* {
    box-sizing: border-box;
}

body {

    font-family: "Press Start 2P", sans-serif;
    background: black;
    color: ghostwhite;
    min-height: 100vh;
    height: 100vh;
    overflow: auto;
    box-sizing: border-box;
}


.controls{
    height:75px;
    position: relative;
  
}
.controls a {

float: right;
animation-name: mymove;
    animation-name: mymove;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;

}
.selected  .save{

    position: absolute;
    margin-left: 300px;
    margin-top: -40px;
}

@keyframes mymove {
    0% {color: red;}
    50% {color: green;}
    100% {color: yellow;}
}

.wrapper {
    height: 100vh;
    min-height: 100vh;
    widows: 100%;
    margin: 0 auto;
    clear: both;
    overflow: hidden;
    box-sizing: border-box;
}

.cardContainer {
    background: url(stadium4.jpg);
    background-size: 100%;
    height: 100vh;
    width: 100%;
    overflow: auto;
}


.innerContainer {
    height: 100vh;
    width: 55%;
    overflow: auto;
    float: left;
}


.startBtn {
    float: right;
}

.selected {
    height: 100vh;
    width: 40%;
    float: right;
}

.playerCard {

    background: linear-gradient(15deg, silver 0%, silver 30%, darkgreen 100%);
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: black;
    clear: both;


    box-sizing: border-box;
    display: inline-grid;
    margin-top: 15px;
    margin-left: 15px;



    height: 240px;
    width: 260px;

    background-color: #464b4d;
    perspective: 1000px;
    border-radius: 15px;
    box-sizing: border-box;
}


.bottom {
    position: relative;
    height: 35px;
    width: 260px;
    background-color: silver;
    /*    margin-top: 235px;*/
    margin-left: -20px;

    margin-top: 195px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: lightcyan;
    text-shadow: 2px 1px black;
    border-radius: 15px;
}

.inner {

    position: absolute;
    clear: both;
    box-sizing: border-box;
    height: 100px;
    width: 200px;
    top: 10px;
    left: 20px;
}

.playerInfo {
    position: absolute;
    width: 230px;
    height: 200px;
    color: black;
    margin: 0 auto;
    clear: both;
    overflow: hidden;
    font-size: 18px;
}

.playerName {
    color: ghostwhite;
    font-family: 'Exo 2', sans-serif;

}


.playerStats {
    height: 100px;
    width: 200px;
    margin-top: 20px;
    clear: both;
    overflow: hidden;
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;

}


.statsLeft {
    float: left;
    color: ghostwhite;
}

.statsRight {
    float: right;
    color: ghostwhite;
}

.currentContainer {
    margin-top: 50px;
    margin-left: 0px;
    height: 500px;
    width: 80%;
    position: relative;
}