<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Head Coach</title>
    <meta charset="utf-8">
    <title>MEAN FOOTBALL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script> -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="chance.js"></script>
    <script src="src/startpage/startpageController.js"></script>
    <script src="src/playbook/offense/passPlays.js"></script>
    <script src="src/playbook/offense/runPlays.js"></script>
    <script src="src/playbook/defense/defensiveplays.js"></script>
    <script src="src/assets/scripts/gamefunctions.js"></script>
    <script src="src/assets/scripts/applicationLogic.js"></script>
    <script src="src/assets/scripts/rushingLogScripts.js"></script>
    <script src="src/assets/scripts/passLog.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" href="playerSelect.css">
</head>

<body ng-controller="startCtrl">
<div class="wrapper">
    <div class="cardContainer">
      <div class= "innerContainer">
        <div class="playerCard" ng-repeat="player in players ">
            <div class="inner">
                <div class="front">
                    <div class="playerInfo">
                        {{player.position}} {{player.last}}, {{ player.first}} </br>
                        College: {{player.college}}
                    </div>
                    <div class="playerStats">
                        str: {{player.Str}} </br>
                        con: {{player.Con}} </br>
                        dex: {{player.Dex}} </br>
                        int: {{player.Int}} </br>
                        wis: {{player.Wis}} </br>
                        cha: {{player.Cha}} </br>
                    </div>
                </div>
            </div>
            <button class="bottom" ng-click="button1()"> SELECT </button>
        </div>
        <div class="title.home clearfix">
            <a type="button" class=" startBtn" href="#!teamhome">Start</a>
            <button ng-click="save()">Save</button>
        </div>
    </div>
    <div class="selected">
        <h2> Current Roster </h2>

         <div class="playerCard" ng-repeat="player in newteam">
            <div class="inner">
                <div class="front">
                    <div class="playerInfo">
                        {{player.position}} {{player.last}}, {{ player.first}} </br>
                        College: {{player.college}}
                    </div>
                    <div class="playerStats">
                        str: {{player.Str}} </br>
                        con: {{player.Con}} </br>
                        dex: {{player.Dex}} </br>
                        int: {{player.Int}} </br>
                        wis: {{player.Wis}} </br>
                        cha: {{player.Cha}} </br>
                    </div>
                </div>
            </div>
            <button class="bottom" ng-click="button1()"> SELECT </button>
        </div>
    </div>
     </div>
</div>



<!--     <table class="table-inverse">
        <thead style="color:white">
            <th>Pos</th>
            <th>First</th>
            <th>Last</th>
            <th>Height</th>
            <th>Weight</th>
            <th>Str</th>
            <th>Con</th>
            <th>Dex</th>
            <th>Int</th>
            <th>Wis</th>
            <th>Cha</th>
            <th></th>
        </thead>
        <tbody>
            <tr ng-repeat="player in newteam">
                <td>{{player.position}}</td>
                <td>{{player.first}}</td>
                <td>{{player.last}}</td>
                <td>{{player.height}}</td>
                <td>{{player.weight}}</td>
                <td>{{player.Str}}</td>
                <td>{{player.Con}}</td>
                <td>{{player.Dex}}</td>
                <td>{{player.Int}}</td>
                <td>{{player.Wis}}</td>
                <td>{{player.Cha}}</td>
            </tr>
        </tbody>
    </table> -->



<!--     
    <script type="text/javascript">
    var image = new Array();
    image[0] = 'male1.png';
    image[1] = 'male1.png';
    image[2] = 'male2.png';


    function getRandomImage() {
        var num = Math.floor(Math.random() * 2);
        var img = image[num];
        document.getElementById("img").textContent = ('src="' + img + '"');
        console.log(randImage);
    }

    getRandomImage();
    </script> -->
</body>

</html>