body {
    background-color: black;
    font-family: "Press Start 2P";
    color: ghostwhite;
}
*{
    box-sizing: border-box;
   
}

.wrapper{
    background-image: url(stadium4.jpg);
    background-size: cover;
    background-size: 100% 100S%;
 
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-flow: row;


}
a{
    animation-name: mymove;
        animation-name: mymove;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
}

@keyframes mymove {
    0% {color: red;}
    50% {color: green;}
    100% {color: yellow;}
}


.myTeam{
   
    height: 70vh;
    width: 1200px;
    overflow: hidden;
 

}
.playerCard {

    flex: 1 1 0;
    justify-content: flex-start;
    background: linear-gradient(15deg, silver 0%, silver 30%, darkgreen 100%);
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: black;
 

    box-sizing: border-box;

    margin-top: 15px;
    margin-left: 15px;



    height: 240px;
    width: 260px;

    background-color: #464b4d;
    perspective: 1000px;
    border-radius: 15px;
    box-sizing: border-box;
}


.bottom {
    position: relative;
    height: 35px;
    width: 260px;
    background-color: silver;


    font-family: "Press Start 2P";
    margin-top: 215px;

    font-size: 14px;
    color: lightcyan;
    text-shadow: 2px 1px black;
    border-radius: 15px;
}


.front{
    position: relative;
    width: 260px;
}

.playerInfo {
    position: absolute;
    width: 230px;
    height: 200px;
    color: black;
    margin: 0 auto;
    clear: both;
    overflow: hidden;
    font-size: 18px;
}

.playerName {
    color: ghostwhite;
    font-family: 'Exo 2', sans-serif;

}


.playerStats {
    height: 100px;
    width: 200px;
    margin-top: 20px;
    clear: both;
    overflow: hidden;
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;

}


.statsLeft {
    float: left;
    color: ghostwhite;
}

.statsRight {
    float: right;
    color: ghostwhite;
}

