body {
    background-color: black;
    font-family: "Press Start 2P", cursive;
    color: ghostwhite;
}
*{
    box-sizing: border-box;
   
}

.wrapper{
    background-image: url(stadium4.jpg);
    background-size: cover;
    background-size: 100% 100S%;
    height:700px;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    box-sizing: border-box;
 /*   display: inline-flex;*/
    clear


}


.myTeam{
    display: inline-grid;
    height: 400px;
    width: 800px;
    overflow: auto;
}

/*.wrapper {
 
    height: 600px;
    min-height: 100vh;
    min-width: 100%;
    box-sizing: border-box;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
 

}*/

/*.homeContainer{
    height: 250px;
    width: 100%;
    overflow-x: scroll;
    display: inline-flex;

}
*/
.playerCard {

    background: linear-gradient(15deg, silver 0%, silver 30%, darkgreen 100%);
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: black;
    clear: both;


    box-sizing: border-box;
    display: inline-grid;
    margin-top: 15px;
    margin-left: 15px;



    height: 240px;
    width: 260px;

    background-color: #464b4d;
    perspective: 1000px;
    border-radius: 15px;
    box-sizing: border-box;
}


.bottom {
    position: relative;
    height: 35px;
    width: 260px;
    background-color: silver;
    /*    margin-top: 235px;*/
    margin-left: -20px;

    margin-top: 195px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: lightcyan;
    text-shadow: 2px 1px black;
    border-radius: 15px;
}

.inner {

    position: absolute;
    clear: both;
    box-sizing: border-box;
    height: 100px;
    width: 200px;
    top: 10px;
    left: 20px;
}

.playerInfo {
    position: absolute;
    width: 230px;
    height: 200px;
    color: black;
    margin: 0 auto;
    clear: both;
    overflow: hidden;
    font-size: 18px;
}

.playerName {
    color: ghostwhite;
    font-family: 'Exo 2', sans-serif;

}


.playerStats {
    height: 100px;
    width: 200px;
    margin-top: 20px;
    clear: both;
    overflow: hidden;
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;

}


.statsLeft {
    float: left;
    color: ghostwhite;
}

.statsRight {
    float: right;
    color: ghostwhite;
}

