<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Head Coach</title>
    <meta charset="utf-8">
    <title>MEAN FOOTBALL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="chance.js"></script>
    <script src="src/startpage/startpageController.js"></script>
    <script src="src/playbook/offense/passPlays.js"></script>
    <script src="src/playbook/offense/runPlays.js"></script>
    <script src="src/playbook/defense/defensiveplays.js"></script>
    <script src="src/assets/scripts/gamefunctions.js"></script>
    <script src="src/assets/scripts/applicationLogic.js"></script>
    <script src="src/assets/scripts/rushingLogScripts.js"></script>
    <script src="src/assets/scripts/passLog.js"></script>
    <link rel="stylesheet" href="teamHome.css">
</head>

<body ng-controller="startCtrl">
    <div class="title.container">
        <h2>Team Home </h2>
        <a class="btn btn-success startGame" href="/gamescreen.html">Start Game!!!</a>
        <button class="btn btn-primary" ng-click="load()">Load</button>
        <button class="btn btn-primary" ng-click="save()">Save</button>
    </div>
    <div class="wrapper">
        <div class="myTeam" ng-repeat="player in yo">
            <div class="front">
                <div class="playerCard">
                    <div class="playerInfo">
                        <div class="playerName">
                            {{player.position}} </br>
                            {{player.last}}, {{ player.first}} </br>
                            College: {{player.college}}
                        </div>
                        <div class="playerStats">
                            <div class="statsLeft">
                                Str: {{player.Str}} </br>
                                Con: {{player.Con}} </br>
                                Dex: {{player.Dex}} </br>
                            </div>
                            <div class="statsRight">
                                Int: {{player.Int}} </br>
                                Wis: {{player.Wis}} </br>
                                <CENTER></CENTER>ha: {{player.Cha}} </br>
                            </div>
                        </div>

      
                    </div>
                      <button class="bottom" ng-click="button1()"> COACH!!! </button>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <!-- <table class="table table-inverse">
                <thead>
                <th>Pos</th>
                    <th>First</th>
                    <th>Last</th>
                    <th>Height</th>
                    <th>Weight</th>
                    
                    <th>College</th>
                    <th>Str</th>
                    <th>Con</th>
                    <th>Dex</th>
                    <th>Int</th>
                    <th>Wis</th>
                    <th>Cha</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr ng-repeat="player in yo">
                     <td>{{player.position}}</td>
                        <td>{{player.first}}</td>
                        <td>{{player.last}}</td>
                        <td>{{player.height}}</td>
                        <td>{{player.weight}}</td>
                        <td>{{player.college}}</td>
                        <td>{{player.Str}}</td>
                        <td>{{player.Con}}</td>
                        <td>{{player.Dex}}</td>
                        <td>{{player.Int}}</td>
                        <td>{{player.Wis}}</td>
                        <td>{{player.Cha}}</td>
                    </tr>
                </tbody>
            </table>
        -->
    <!-- <div class="container">
        <div class="row">
            <div class="homeContainer">
            <div class="teamCard  d-flex flex-row" ng-repeat="player in yo">
                <div class="front clearfix ">
                    <section class="cardHeader">
                        <h5 class="position"> {{player.position}}</h5> <img class="face" src="male1.png" />
                    </section>
                    <section class="playerInfo">
                        <h6>{{player.last}}, {{player.first}}</h6>
  
                    </section>

                </div>
            </div>
        </div>
    </div>
   </div> -->
</body>

</html>