<div class="row">
    <div class="col-md-12">
        <div class="depthchart" ng-app="app" ng-controller="startCtrl">
            <h1> Roster </h1>

            <table class="depthChartTable">
                <th>First</th>
                <th>Last</th>
                <th>Position</th>
                <tr ng-repeat="player in yo ">

                    <td>{{player.first}}</td>
                    <td>{{player.last}}</td>
                    <td>{{player.position}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
